.overlay-list-logo {
  top: -70px;
  right: -83px;
}

.list-pokemon {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 10px;
}

.btn-load-more {
  width: fit-content;
  margin: auto;
  padding: 2px;
  color: brown;
  cursor: pointer;
}