.about {
  display: flex;
  flex-direction: column;
}

.hirizontal {
  display: flex;
  flex-direction: column;
}

.vertical {
  display: flex;
  flex-direction: row;
}

.sub {
  margin-right: 20px;
  color: #949494;
}


p.about {
  margin-top: 10px;
}